<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/teams" method="post">
      <h1>Create a Team and Heroes!</h1>
      <label for="team_name"><input type="text" name="team[name]" value=""></label>
    </form>
  </body>
</html>
